
  
  .mat-table {
    overflow-x: auto;
    overflow-y: hidden;
    max-height: 90%;
  }


.mat-cell {
  color: #4d5456;
  font-size: 14px;
  font-family: 'Arial';

}
.mat-row {
  cursor: pointer;
}
.mat-row:nth-child(even) {
      background-color: #f5f4f4;
  }
.mat-row:hover {
  background-color: #c7c7c7;
}


