<ng-container *ngIf="dataSource?.data.length > 0; else loading">
  <div class="row">
    <div class="col">
      <mat-table #table [dataSource]="dataSource" class="table-hover mat-table">
        <mat-divider></mat-divider>
        <!-- Name Column -->
        <ng-container matColumnDef="name">
          <mat-header-cell *matHeaderCellDef><h4>Equipo</h4></mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
        </ng-container>
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;" (click)="rowClicked(row)"></mat-row>
      </mat-table>

      <mat-paginator #matPaginator [pageSizeOptions]="[10, 20, 50]" [length]="pagination.totalElements"
        [pageIndex]="pagination.page" (page)="updateTable($event)">
      </mat-paginator>

    </div>
  </div>
</ng-container>

<ng-template #loading>
  <div class="col d-flex justify-content-center mt-4 mb-4 ">
    <p class="m-0 ">No hay resultados de búsqueda</p>
  </div>
</ng-template>