
.player__card {
     background: rgb(236, 236, 236);
     font-size: 18px;
     font-family: Arial, Helvetica, sans-serif;
     text-align: center;
     width: 240px;
     height: 405px;
}

.smallSize{
    height: 200px;
    width: 200px;
}