<ng-container *ngIf="(team$ | async) as team">
  <h1 class="mb-4">{{team.name}}</h1>
</ng-container>

<ng-container *ngIf="(teamPlayers$ | async) as players; else loading">
  <div class="row d-flex justify-content-center pt-4 pb-4">
    <div class="col-xl-3 col-md-4 col-sm-12 d-flex justify-content-center" *ngFor="let player of players">
      <mat-card class="player__card mb-3 pl-2 pr-2">
        <mat-card-header class="d-flex justify-content-center">
          <mat-card-title >{{player.name}}</mat-card-title>
        </mat-card-header>
        <img mat-card-image class="smallSize border" [src]="player.picture">
        <mat-card-actions class="mt-4">
          <button type="button" class="btn btn-secondary" (click)="moreInfo(player)">+ Info</button>
        </mat-card-actions>
      </mat-card>
    </div>
    
  </div>

</ng-container>

<ng-container>
  <div class="row justify-content-center align-items-center pt-4 pb-4">
    <div class="col-12 m-0 p-0">
      <button type="button" class="btn btn-secondary" (click)="goHome()">Volver al inicio</button>
    </div>
  </div>
</ng-container>

<ng-template #loading>
  <div class="col d-flex justify-content-center mt-4 mb-4 ">
      <p class="m-0 ">Este equipo no tiene jugadores por el momento</p>
  </div>
</ng-template>