<div mat-dialog-title>
  <div class="row mb-3" id="dialog-title">
    <div class="col d-flex align-items-center">
      <h1>{{player.name}}</h1>
    </div>
  </div>
</div>

<div mat-dialog-content class="dialog__min___height">
    <div class="row">
      <div class=" col-12 d-flex justify-content-center">
        <img mat-card-image class="medium__size none border mt-2" [src]="player.picture">
      </div>
    </div>
      <div class="row">
        <p>
          <strong>
            Market value:
          </strong>
          {{player.value | number:'1.2-2'}}
        </p>
      </div>
</div>

<div mat-dialog-actions class="col mb-1 d-flex flex-row-reverse">
  <button mat-raised-button class="mr-2" (click)="close()" color="accent">Cerrar</button>
</div>