<main>
  <div class="container">
    <mat-card class="m-3">
    <app-teams-table
      [displayedColumns]="displayedColumns" [pagination]="pagination"
        (updateTableEvent)="changePage($event)" (selectTeamEvent)="selectTeam($event)">
      </app-teams-table>
    </mat-card>
  </div>
</main>
