.main_content {
    width: 100%;
    height: calc(100vh - 60px);
    background-color: #F4F4F4;
    padding: 0 40px 0 40px;
    overflow: auto;
    overflow-x: hidden;
    padding-bottom: 40px !important;
}

#header {
    padding: 10px 30px;
    background-color: white;
    color: #4D4F5C;
    height: 65px;
    background-image: url('/assets/images/backgrounds/toolbar.png');
    background-size: contain;
}

.sidenav-container {
    margin-left: 55px !important;

}

#logo h1 {
    font-family: 'Pilat_Heavy';
    font-size: 28px;
    margin: 0;
    color: #E0DD00;
}
