<div class="bg-dark fullSize">
  <div class="row justify-content-center align-items-center m-0 p-0">
    <div class="col-12 superHeigth justify-content-center align-items-center d-flex m-o p-0">

      <h1 class="text-light">La página que estás buscando no está disponible por el momento</h1>
    </div>
    <div class="col-12 superHeigth m-0 p-0">
      <button type="button" class="btn btn-secondary" (click)="goHome()">Volver al inicio</button>
    </div>
  </div>
</div>