h1 {
    font-family: 'Arial';
    color: #4D4F5C;
    font-size: 28px;
}

h2 {
    font-family: 'Arial';
    color: #4D4F5C;
    font-size: 24px;
}

h3 {
    font-family: 'Arial';
    color: #4D4F5C;
    font-size: 18px;
}

h4 {
    font-family: 'Arial';
    color: #4D4F5C;
    font-size: 16px;
    font-weight: 700;
}

p,
li {
    font-family: 'Arial';
    font-size: 14px;
    text-align: justify;
    color: #61636E;
}

a {
    color: #1000C1;
    font-family: 'Arial';
    font-size: 14px;
    transition: 2ms all;
    text-decoration: none;
}

a:hover {
    color: #001E50;
    transition: 2ms all;
    text-decoration: none;
}

textarea {
    height: 100px;
}

small {
    font-size: 12px;
}

table {
    width: 100%;
}