@import '~@angular/material/theming';
@include mat-core();
// Paleta de colores
$md-prim: ( 50: #eaeaeb, 100: #cacace, 200: #a6a7ae, 300: #82848d, 400: #686974, 500: #4d4f5c, 600: #464854, 700: #3d3f4a, 800: #343641, 900: #252630, A100: #7f8bfc, A200: #4d5dfb, A400: #162dff, A700: #0019fc, contrast: ( 50: #000000, 100: #000000, 200: #000000, 300: #000000, 400: #ffffff, 500: #ffffff, 600: #ffffff, 700: #ffffff, 800: #ffffff, 900: #ffffff, A100: #000000, A200: #ffffff, A400: #ffffff, A700: #ffffff));
$md-accent: ( 50: #f9fafb, 100: #f1f4f5, 200: #e8ecee, 300: #dee4e7, 400: #d7dfe2, 500: #d0d9dd, 600: #cbd5d9, 700: #c4cfd4, 800: #becacf, 900: #b3c0c7, A100: #ffffff, A200: #ffffff, A400: #ffffff, A700: #ffffff, contrast: ( 50: #000000, 100: #000000, 200: #000000, 300: #000000, 400: #000000, 500: #000000, 600: #000000, 700: #000000, 800: #000000, 900: #000000, A100: #000000, A200: #000000, A400: #000000, A700: #000000));
$my-app-primary: mat-palette($md-prim, 500, 900, A100);
$my-app-accent: mat-palette($md-accent, 500, 900, A100);
$my-app-theme: mat-light-theme($my-app-primary, $my-app-accent);
@include angular-material-theme($my-app-theme);
// Personalizaciones
.mat-drawer-inner-container {
    background-color: #4d4f5c;
}

// Mat Menu
button.mat-menu-item {
    font-family: 'VGED_Regular';
    font-size: 14px;
    color: #4c5356;
}

.mat-menu-item .mat-icon-no-color {
    color: #4c5356;
}

.mat-option-text {
    display: flex !important;
    justify-content: space-between !important;
    align-items: center !important;
}

// Tooltip
.mat-tooltip {
    font-family: 'Arial';
    background-color: #4c5356;
    font-size: 12px;
}

// Select
.mat-select-value-text {
    font-family: 'Arial';
    font-size: 14px;
    color: #4c5356;
}

.mat-option-text {
    font-family: 'Arial';
    font-size: 14px;
    color: #4c5356;
}

// Dialog
#dialog-title h1 {
    font-family: 'VGED_Regular';
    margin: 0;
    font-size: 22px;
}

.mat-dialog-container {
    max-height: 90vh !important;
}

// Buttons
.mat-raised-button {
    font-family: 'VGED_Regular';
}

// Form field
.mat-form-field-appearance-outline .mat-form-field-infix {
    padding: 15px !important;
    font-size: 14px;
    font-family: 'Arial';
    color: #4d4f5c;
    padding: 10px !important;
}

.mat-form-field.mat-form-field-disabled {
    .mat-input-element {
        color: #a5a5a5;
    }
    .mat-form-field-label {
        color: #a5a5a5;
        .mat-form-field-required-marker {
            color: #a5a5a5;
        }
    }
    .mat-form-field-ripple {
        background-color: #a5a5a5;
    }
}

.mat-form-field-appearance-outline.mat-form-field-disabled .mat-form-field-outline {
    color: #E4E4E4;
    background-color: #f8f8f8;
    border-radius: 2%;
}

// Checkbox
.mat-checkbox-layout .mat-checkbox-label {
    font-family: 'Arial';
    font-size: 14px;
    color: #61636e;
}

.mat-checkbox-layout:disabled .mat-checkbox-label:disabled {
    font-family: 'Arial';
    font-size: 14px;
    color: red;
}

// Radio button
.mat-radio-label-content {
    font-family: 'Arial';
    font-size: 14px;
    color: #61636e;
}

// Slide toggle
.mat-slide-toggle-content {
    font-family: 'Arial';
    font-size: 14px;
    color: #61636e;
}

// Card
.mat-card {
    font-family: 'Arial';
    font-size: 14px;
    color: #61636e;
}

// Expansion panel
.mat-accordion .mat-expansion-panel:not(.mat-expanded),
.mat-accordion .mat-expansion-panel:not(.mat-expansion-panel-spacing) {
    border-radius: 0;
    margin-top: 10px;
}

.mat-expansion-panel-header-description,
.mat-expansion-panel-header-title {
    color: #4d5456;
    font-family: 'VGED_Regular' !important;
    font-size: 14px;
}

// Steps
.mat-step-header .mat-step-label.mat-step-label-active {
    font-family: 'VGED_Regular';
}

// Tabs
.mat-tab-label {
    background-color: transparent;
    color: #4d5456 !important;
    font-family: 'VGED_Regular';
    padding: 0px 5px;
    opacity: 0.8 !important;
    justify-content: left !important;
}

.mat-tab-label.mat-tab-label-active {
    background-color: transparent;
    color: #4d5456 !important;
    opacity: 1 !important;
}

// Table
td.mat-cell {
    color: #4d5456;
    font-size: 14px;
    font-family: 'Arial';
}

td.mat-footer-cell,
th.mat-header-cell {
    color: #4d5456;
    font-family: 'VGED_Regular';
    font-size: 14px;
}

.mat-row:nth-child(even) {
    background-color: #f4f4f4;
}

.mat-checkbox-layout {
    margin: 0;
}

.mat-cell,
.mat-header-cell {
    overflow: visible !important;
}

.mat-column-select {
    overflow: visible;
}

.mat-column-select {
    flex: 0 0 50px !important;
}

.mat-table {
    .mat-header-cell {
        .mat-sort-header-arrow {
            opacity: 0;
            transform: translateY(0px);
            .mat-sort-header-pointer-left {
                transform: rotate(-45deg);
            }
            .mat-sort-header-pointer-right {
                transform: rotate(45deg);
            }
        }
    }
}

// Paginator
.mat-paginator-container {
    color: #4d5456;
    font-family: 'VGED_Regular' !important;
    font-size: 14px;
}

.mat-paginator-range-label {
    font-family: 'VGED_Regular';
}

// Snackbar
.mat-simple-snackbar {
    font-family: 'VGED_Regular';
    font-weight: normal;
    color: white;
    font-size: 14px;
}

.mat-snack-bar-container {
    background-color: #4d4f5c;
}

// Badge
.mat-badge-medium.mat-badge-after .mat-badge-content {
    right: -29px;
}

.mat-badge-medium.mat-badge-above .mat-badge-content {
    top: 0px;
}

.mat-badge-medium .mat-badge-content {
    width: 20px;
    height: 20px;
    line-height: 22px;
}

.alert-snackbar {
    background: #f44336;
}

.arrow_box {
    position: relative;
    background-color: rgba(75, 168, 46, 0.5);
    color: white;
    // border: 4px solid rgba(75, 168, 46, 0.5);
    border-radius: 3%;
    height: fit-content;
    width: fit-content;
    padding: 5px 10px 5px 10px;
    margin-top: -20px;
    margin-bottom: 12px;
}

.arrow_box:after,
.arrow_box:before {
    bottom: 100%;
    left: 14px;
    border: solid transparent;
    content: "";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.arrow_box:after {
    border-color: rgba(151, 204, 153, 0);
    border-bottom-color: rgba(75, 168, 46, 0.5);
    border-width: 8px;
    margin-left: -8px;
}

.arrow_box:before {
    border-color: rgba(194, 225, 245, 0);
    // border-bottom-color: rgba(75, 168, 46, 0.5);
    border-width: 13px;
    margin-left: -13px;
}
